body{
	text-align: center;
	background: #ffd600;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  padding-top: 1em;
}

h1{
  color: #f04e49;
  font-weight: 900;
  font-size: 40px;
  margin: 40px 0px 20px;
  font-family: "Titillium Web", sans-serif;
}

.numbers {
  font-size: 3em;
  font-weight: 600;
}

.hys {
  img {
    margin: 0 auto;
  }

  &-grafik {
    width: 3.5em;
  }
  &-schrift {
    width: 13em;
  }
}

.logos {
  padding-top: 5em;
  img {
    width: 35em;
    margin: 0 auto;
  }

}

#clockdiv{
	font-family: "Lato", sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 5px;
	background: #f04e49;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #f04e49;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
